include ../include/_header.pug

div.container-fluid
    div.row
        
        include ../include/_navbar.pug

        main.col-md-9.ms-sm-auto.col-lg-10.px-md-4.py-5
            h1.h4 Doctors Record :
            div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                
                button.btn.btn-sm.btn-primary.d-flex.align-items-center.text-white(type="button" onclick="location.href='/register_patient'")
                    
                    i.bi.bi-person-add
                    | Register a Patient
                
            
                div.btn-toolbar.mb-2.mb-md-0
                    div.btn-group.me-2
                        button(type="button").btn.btn-sm.btn-outline-secondary Share
                        button(type="button").btn.btn-sm.btn-outline-secondary Export
                
                        button(type="button").btn.btn-sm.btn-outline-secondary.dropdown-toggle.d-flex.align-items-center.gap-1 This week
                
            div.table-responsive.small
                table.table.table-striped.table-sm
                    thead
                        tr
                            th(scope="col") Patient Name
                            th(scope="col") Birthday
                            th(scope="col") Gender
                            th(scope="col") Contact Number
                            th(scope="col") Emergency Contact Number
                            th(scope="col") Assigned Physician
                            th(scope="col") Status
                            th(scope="col") Options
                    tbody
                    each patient in patients
                        tr
                            td=patient.firstname + " " + patient.lastname
                            td=patient.birthday.toString().split('T')[0]
                            td=patient.gender
                            td=patient.cnumber
                            td=patient.ecnumber
                            td=patient.physician
                            td=patient.status
                            td 
                                a.text-warning(href=`/update_patient?id=${patient._id}` title="edit")
                                    i.bi.bi-pencil-square
                                |  | 
                                a.delete.text-danger(data-id=patient._id title="Delete")
                                    i.bi.bi-trash
                                    
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="js/patients.js")