include ../include/_header.pug

div.container-fluid
    div.row
        
        include ../include/_navbar.pug

        main.col-md-9.ms-sm-auto.col-lg-10.px-md-4.py-5
            h1.h4 Doctors Record :
            div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                
                button.btn.btn-sm.btn-primary.d-flex.align-items-center.text-white(type="button"  onclick="location.href='/register_physician'")
                    
                    i.bi.bi-person-add
                    | Register a Physician
                
            
                div.btn-toolbar.mb-2.mb-md-0
                    div.btn-group.me-2
                        button.btn.btn-sm.btn-outline-secondary(type="button") Share
                        button.btn.btn-sm.btn-outline-secondary(type="button") Export
                
            div.table-responsive.small
                table.table.table-striped.table-sm
                    thead
                        tr
                            th(scope="col") Status
                            th(scope="col") Medical License
                            th(scope="col") Name
                            th(scope="col") Gender
                            th(scope="col") Contact Number
                            th(scope="col") Specialty
                            th(scope="col") Options
                    tbody
                    each dr in physicians
                        tr
                            td
                                if dr.status === 'on-duty'
                                    i.bi.bi-circle-fill.text-success
                                else if dr.status === 'off-duty'
                                    i.bi.bi-circle-fill.text-danger
                            td=dr.license
                            td=dr.firstname+" "+dr.lastname
                            td=dr.gender
                            td=dr.cnumber
                            td=dr.specialty
                            td 
                                a.text-warning(href=`/update_physician?id=${dr._id}` title="edit")
                                    i.bi.bi-pencil-square
                                |  | 
                                a.delete.text-danger(data-id=dr._id title="Delete")
                                    i.bi.bi-trash
                                |  | 
                                a.text-primary(href=`/view_physician?id=${dr._id}` title="view record")
                                    i.bi.bi-eye
                                    
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="js/physicians.js")