include include/_header.pug

main.container
    div.py-5.text-center
        
         
    div.row.g-5
        div.col-md-12.col-lg-12.row
            div.col-md-2
                img(src="img/physician.jpg" width="75%" alt="Patient" class="m-2")
            div.col-md-10.text-center
                h3.py-5 Physician #: #{physician._id}
                h6.text-primary Dr. #{physician.firstname + " " + physician.lastname}
            
            hr
            div.col-md-12.col-lg-12.px-5.py-2
                h4=physician.license
                h6 Gender: #{physician.gender}
                h6 Contact Number: #{physician.cnumber}
                h6
                    button.btn.btn-lg.form-control.btn-info(disabled="")=physician.specialty

            hr.my-5
            div.table-responsive.small.px-5

                h5 Patient(s) List :
                hr
                table.table.table-striped.table-sm.my-5
                    thead
                        tr
                            th(scope="col") Full Name
                            th(scope="col") Status
                    tbody
                    each patient in getpatients
                        tr
                            td=patient.firstname+" "+patient.lastname
                            td=patient.status



            button.btn.btn-lg.form-control.btn-primary(type=submit name="submit"   onclick="location.href='/logout'") Log out